{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load socialaccount %}

{% block title %}
    Login | OnTheGrub
{% endblock %}
{% block description %}
    Login to OnTheGrub, Florida's #1 food truck finder.
{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'login' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row mx-1">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto card p-3">
                <h2>Login</h2>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="">
                        <div class="mb-3">
                            <a href="{% url 'grub-signup' %}" class="btn btn-outline-dark">Create account</a>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                        <div class="btn-group btn-group-sm btn-group-justified w-100">
                            <a class="btn btn-info" href="{% provider_login_url "facebook" method="oauth2" %}">
                                Login with Facebook
                            </a>
                            <a class="btn btn-success" href="{% provider_login_url "google" method="oauth2" %}">
                                Login with Google
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}