{% extends "base.html" %}

{% block title %}
    Account Created! | OnTheGrub
{% endblock %}
{% block description %}
    Your account has successfully been created! Welcome to OnTheGrub, Florida's #1 food truck finder
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto card p-3">
                <h2>Success!</h2>
                <p>Your OnTheGrub account has been created.</p>

                <a href="{% url 'index' %}" class="btn btn-secondary">Go home</a>
                <a href="{% url 'users:detail' request.user.username %}">Go to my profile</a>
            </div>
        </div>
    </div>
{% endblock %}