{% extends 'dashboard_base.html' %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row no-gutters justify-content-between">
                <a class="btn btn-secondary" href="{% url 'dashboard:truck-detail' truck.id %}">
                    Return to truck
                </a>
                <a class="btn btn-primary" href="{% url 'dashboard:add-item' truck.id %}">ADD ITEM</a>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters">
            <h2>{{ truck.title }}'s menu</h2>
        </div>
    </div>


    <div class="container">
        <div class="row">
            {% for item in items %}
                {% include 'trucks/widgets/dashboard_menu_item.html' with menu_item=item %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
