<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="">Get OnTheGrub!</h2>
            <p class="subtitle font-italic">For Foodies. By Foodies.</p>
            <p>Find food trucks near you or grow your food truck business.</p>
            <div class="btn-group">
                <a href="{% url 'grub-signup' %}" class="btn btn-outline-success">Register</a>
                <a href="{% url 'grub-login' %}" class="btn btn-success">Login</a>
            </div>
        </div>
    </div>
</div>
