{% extends 'base.html' %}
{% load static %}

{% block title %}{{ truck.title }} | OnTheGrub{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="card my-3">
                    <div class="d-flex justify-content-between align-items-center m-3">
                        <h3>{{ truck.title }}</h3>
                        <div>
                            {% if truck.rating %}
                                <p>{{ truck.rating }}/5.0</p>
                            {% else %}
                                <p>no rating</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if truck.image.file != None %}
                        <img class="card-img-bottom" src="{{ truck.image.url }}"/>
                    {% endif %}
                    <div class="card-footer">
                        <a href="tel:{{ truck.phone }}" class="btn btn-info">Call</a>
                        {% if truck.address != None %}
                            <a href="https://www.google.com/maps?q={{ truck.address }}"
                               class="btn btn-success">Directions</a>
                        {% elif truck.geolocation != None %}
                            <a href="https://www.google.com/maps?q={{ truck.geolocation }}"
                               class="btn btn-success">Directions</a>
                        {% else %}
                            unavailable
                        {% endif %}
                        <div class="btn btn-danger">Favorite</div>
                        {% if truck.available_for_catering %}
                            <div class="btn btn-primary">Book Catering</div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card my-3">
                    <div class="card-header"><h4>Truck Info</h4></div>
                    <ul class="list-group">

                        <li class="list-group-item">
                            <h6 class="mb-1">Address</h6>
                            <a href="https://www.google.com/maps?q={{ truck.address }}">{{ truck.address }}</a>
                        </li>

                        <li class="list-group-item">
                            <h6 class="mb-1">Phone Number</h6>
                            <a href="tel:{{ truck.phone }}">{{ truck.phone }}</a>
                        </li>

                        <li class="list-group-item">
                            <h6 class="mb-1">
                                Catering
                            </h6>
                            {% if truck.available_for_catering %}
                                Available for catering
                            {% else %}
                                Not available for catering
                            {% endif %}
                        </li>

                        <li class="list-group-item">
                            <h6 class="mb-1">Owner</h6>
                            <a href="{% url 'users:detail' truck.owner.username %}">{{ truck.owner.first_name }} {{ truck.owner.last_name }}
                                <span class="text-muted">(@{{ truck.owner.username }})</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>





    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col">

                        <div class="card my-3">
                            <div class="card-header">
                                <h4>Upcoming events</h4>
                            </div>
                            <div class="card-body">
                                Sorry, this truck has no upcoming events.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">

                            <h3 class="card-header">Reviews</h3>
                            <div class="list-group">
                                {% for review in truck.reviews.all %}
                                    <a href="{% url 'trucks:reviews' truck.id %}"
                                       class="list-group-item list-group-item-action flex-column align-items-start active">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@{{ review.reviewer.username }}</h5>
                                            <span>
                                    <i class="fa fa-clock-o"></i>
                                    <small>{{ review.post_created|timesince }} ago</small>
                                    </span>
                                        </div>
                                        <p class="mb-1">{{ review.description }}</p>
                                        <small>Donec id elit non mi porta.</small>
                                    </a>
                                {% endfor %}

                            </div>
                            <div class="card-footer">
                                <a href="{% url 'trucks:reviews' truck.id %}" class="float-right">view all reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}