{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


{% if all_trucks %}
    <h3 style="text-align:center;">All of our currently available trucks:</h3>
    <ul>
        {% for truck in all_trucks %}
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; text-decoration: none;">
        <a href="{% url 'trucks:detail' truck.pk %}">
            <div class="card-attr" style="text-decoration: none; color:white;">
            <div class="card-header">{{ truck.title }}</div>
            <div class="card-body">
                <p class="card-text">{{ truck.get_short_description }}</p>
                <img class="card-img-bottom" src="{{ truck.image.url }}" alt="{{ truck.title }}'s image not found.">
            </div>
            </div>
        </a>
        </div>
    </ul>
{% endfor %}


{% else %}
    <h3> Sorry, we dont have any trucks!</h3>
{% endif %}

{% endblock %}