{% extends 'base.html' %}

{% block title %}
    {{ truck.title }}'s Reviews | OnTheGrub
{% endblock %}
{% block description %}View reviews for {{ truck.title }}.{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'trucks:reviews' truck.id %}">
{% endblock %}

{% block content %}
    {% include 'util/go_back.html' %}
    <div class="container mb-2">
        <div class="row">
            <div class="col d-inline-flex justify-content-between align-items-center">
                <section>
                    <h3>Reviews for <a href="{% url 'trucks:detail' truck.id %}">{{ truck.title }}</a></h3>
                    <h4>Average rating: <span class="badge badge-pill badge-warning"><span
                            class="fa fa-star mr-2"></span>{{ truck.rating }} / 5</span></h4>
                    <p>{{ truck.description }}</p>
                </section>
                <a href="{% url 'trucks:new-review' truck.id %}" class="btn btn-outline-success">LEAVE REVIEW</a>
            </div>
        </div>
    </div>

    <div class="container pt-1">
        {% if review_list.count > 0 %}
            <div class="row justify-content-between no-gutters">
                {% for review in review_list %}
                    {% include 'trucks/widgets/review_card.html' with review=review %}
                {% endfor %}
            </div>
        {% else %}
            <div class="row no-gutters justify-content-center">
                <div class="align-items-center align-self-center text-center border p-4 rounded">
                    <h3>There are no reviews for {{ truck.title }}.</h3>

                    <a class="btn btn-sm btn-outline-dark mt-4" href="{% url 'trucks:new-review' truck.id %}">
                        Be the first one
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
