{% extends 'base.html' %}

{% block title %}
    Review on {{ object.truck.title }} by {{ object.reviewer.username }}
{% endblock %}
{% block description %}Check out this review on {{ object.truck.title }} by {{ object.reviewer.username }}
    .{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'trucks:review-detail' truck.id review.id %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-3 no-gutters">
            {% include 'trucks/widgets/review_card.html' with review=review %}
        </div>
        <div class="row no-gutters">
            <button onclick="window.history.back();" class="btn btn-primary">
                Go back
            </button>
        </div>
    </div>
{% endblock %}
