{% extends 'base.html' %}

{% block title %}
    {{ truck.title }}'s Reviews | OnTheGrub
{% endblock %}
{% block description %}Leave a review for {{ object.truck.title }}.{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Reviews for <a href="{% url 'trucks:detail' truck.id %}">{{ truck.title }}</a></h3>
                <a href="{% url 'trucks:new-review' truck.id %}">Leave review</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for review in review_list %}
                <a href="{% url 'trucks:review-detail' truck.id review.id %}">
                    <div class="col-lg-6 col-md-8 col-sm-12 card m-2 p-3">
                        <p class="card-body">
                            {{ review.description }}
                        </p>
                        <hr/>
                        <div class="d-flex justify-content-between">
                            <span>
                                review by
                                <a href="{% url 'users:detail' review.reviewer.username %}">{{ review.reviewer.username }}</a>
                            </span>
                            <span>
                                {{ review.rating }}
                            </span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
