{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    New review for {{ object.truck.title }}
{% endblock %}
{% block description %}Leave a review for {{ object.truck.title }}.{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'trucks:new-review' truck.id %}">
{% endblock %}

{% block content %}
    {% include 'util/go_back.html' %}

    <div class="container my-3">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 m-2 p-3 card">
                <h3>
                    New review for <a href="{% url 'trucks:detail' truck.pk %}">{{ truck.title }}</a>
                </h3>
                <form method="POST">
                    {% csrf_token %}
                    {#                    <input type="hidden" name="truck" value="{{ truck.id }}">#}
                    {#                    <input type="hidden" name="reviewer" value="{{ request.user.id }}">#}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary">Submit review</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}