{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    New review for {{ object.truck.title }}
{% endblock %}
{% block description %}Leave a review for {{ object.truck.title }}.{% endblock %}

{% block content %}
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h3>
                    New review for <a href="{% url 'trucks:detail' truck.pk %}">{{ truck.title }}</a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 m-2 p-3 card">
                <form method="POST">
                    {% csrf_token %}
{#                    <input type="hidden" name="truck" value="{{ truck.id }}">#}
{#                    <input type="hidden" name="reviewer" value="{{ request.user.id }}">#}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary">Submit review</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}