{% extends 'base.html' %}

{% block title %}{{ truck.title }}'s Menu | OnTheGrub{% endblock %}
{% block description %}Check out {{ truck.title }}'s menu, reviews, schedule, and more OnTheGrub, the food truck
    finder.{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'trucks:menu-item' truck.id menu_item.id %}">
{% endblock %}

{% block content %}
    {% include 'util/go_back.html' %}

    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h3><a href="{% url 'trucks:detail' truck.id %}">{{ truck.title }}</a>'s Menu</h3>
                <p>
                    {{ truck.description }}
                </p>
            </div>
        </div>
    </div>


    {% if menu %}
        <div class="container">
            <div class="row">
                {% for menu_item in menu %}
                    {% include 'trucks/widgets/menu_item.html' with menu_item=menu_item %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>Menu unavailable</h3>
    {% endif %}

{% endblock %}