{% extends 'base.html' %}
{% load static %}


{% block title %}{{ truck.title }}'s Schedule | OnTheGrub{% endblock %}
{% block description %}Check out {{ truck.title }}'s schedule.{% endblock %}

{% block content %}
    {% include 'util/go_back.html' %}

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h3><a href="{% url 'trucks:detail' truck.id %}">{{ truck.title }}</a>'s Schedule</h3>
            </div>
        </div>
    </div>


    {{ request.GET.upcoming }}
    <div class="container">
        {% if request.GET.showAll == 'true' %}
            <div class="row">
                <div class="col">
                    <h4>{{ truck.schedule.count }} events</h4>
                    <small>Showing all events... <a href="{% url 'trucks:schedule' truck.id %}">Only
                        show upcoming events.</a></small>
                </div>
            </div>

            <hr/>

            {% if truck.schedule.count > 0 %}
                {% for event in truck.schedule.all %}
                    <div class="row">
                        <div class="col">
                            {% include 'trucks/truckevent_card.html' with event=event %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col">
                        <code>No events found</code>
                    </div>
                </div>
            {% endif %}

        {% else %}
            <div class="row">
                <div class="col">
                    <h4>{{ truck.upcoming_schedule.count }} upcoming events</h4>
                    <small>Showing upcoming events... <a href="{% url 'trucks:schedule' truck.id %}?showAll=true">
                        show all events.</a>
                    </small>
                </div>
            </div>

            <hr/>

            {% if truck.upcoming_schedule.count > 0 %}
                {% for event in truck.upcoming_schedule %}
                    <div class="row">
                        <div class="col">
                            {% include 'trucks/truckevent_card.html' with event=event %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col">
                        <code>No upcoming events found</code>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}