{% extends 'base.html' %}

{% block title %}Find Food Trucks Near You | OnTheGrub{% endblock %}
{% block description %}
    Looking for food truck near you? Check out OnTheGrub, Florida's #1 food truck finder.
{% endblock %}

{% block content %}
    <div class="container text-left">
        <div class="row pt-3">
            <div class="col">
                <h2>Trucks near you</h2>
                <p>Your location</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <form method="GET" class="d-flex flex-row">
                    <input class="form-control mr-2" placeholder="FIND GRUB" value="{{ request.GET.query }}"
                           name="query" type="text"/>
                    <button type="submit" class="btn btn-primary">SEARCH</button>
                </form>
            </div>
        </div>

        {% if request.GET.query %}
            <div class="row">
                <div class="col">
                    <h5>Showing search results for <code>{{ request.GET.query }}</code></h5>
                </div>
            </div>
        {% endif %}

        {% if object_list|length > 0 %}
            <div class="row">
                {% for truck in page_obj %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                        {% include 'trucks/truck_card.html' with truck=truck %}
                    </div>
                {% endfor %}
            </div>

            {% if page_obj %}
                <div class="row">
                    <div class="col">
                        {% include 'util/pagination.html' %}
                    </div>
                </div>
            {% endif %}



        {% else %}
            {% if request.GET.query %}
                <code>Sorry, there are no trucks matching <b>'{{ request.GET.query }}'</b></code>
                <a href="{% url 'trucks:index' %}" class="btn btn-outline-dark">
                    CLEAR SEARCH
                </a>
            {% else %}
                <h3>Sorry, we don't have any trucks!</h3>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}