{% extends 'base.html' %}
{% load static %}
{% load has_favorited %}


{% block title %}{{ truck.title }} | OnTheGrub{% endblock %}
{% block description %}Check out {{ truck.title }}'s menu, reviews, schedule, and more OnTheGrub, Florida's #1 food
    truck finder.{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="card my-3">
                    <div class="d-flex justify-content-between align-items-center m-3">
                        <h2>{{ truck.title }}</h2>
                        <div class="rounded-pill">
                            <p>{{ truck.rating }}/5.0</p>
                        </div>
                    </div>

                    {% if truck.image.file != None %}
                        <img height="auto" class="card-img-bottom" style="object-fit: cover"
                             src="{{ truck.image.url }}"/>
                    {% endif %}

                    <div class="card-footer btn-group btn-group-sm">
                        {% if truck.phone != None %}
                            <a href="tel:{{ truck.phone }}" class="btn btn-info">CALL</a>
                        {% endif %}

                        {% if truck.address != None %}
                            <a href="https://www.google.com/maps?q={{ truck.address }}"
                               class="btn btn-success" target="_blank">DIRECTIONS</a>
                        {% elif truck.geolocation != None %}
                            <a href="https://www.google.com/maps?q={{ truck.geolocation }}"
                               class="btn btn-success" target="_blank">DIRECTIONS</a>
                        {% else %}
                            <button class="btn btn-success disabled" disabled>DIRECTIONS UNAVAILABLE</button>
                            {#                                                        directions unavailable#}
                        {% endif %}

                        <a href="{% url 'trucks:schedule' truck.id %}" class="btn btn-info">SCHEDULE</a>

                        {% if user|has_favorited_truck:truck.id %}
                            <form action="{% url 'trucks:unfavorite' truck.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">UNFAVORITE</button>
                            </form>
                        {% else %}
                            <form action="{% url 'trucks:favorite' truck.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">FAVORITE</button>
                            </form>
                        {% endif %}

                        {% if truck.available_for_catering %}
                            <a href="{% url 'trucks:book-catering' truck.id %}" class="btn btn-primary">BOOK
                                CATERING</a>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="col">
                {% include 'trucks/widgets/truck_info.html' with truck=truck %}
            </div>
        </div>
    </div>

    {% if truck.items > 0 %}
        {% include 'trucks/widgets/menu.html' with truck=truck %}
    {% endif %}

    {% if truck.events.count > 0 %}
        {% include 'trucks/widgets/events.html' with truck=truck %}
    {% endif %}

    {% include 'trucks/widgets/reviews.html' with truck=truck %}
{% endblock %}