{% extends 'base.html' %}

{% block title %}{{ truck.title }}'s Menu | OnTheGrub{% endblock %}
{% block description %}Check out {{ truck.title }}'s menu, reviews, schedule, and more OnTheGrub, the food truck
    finder.{% endblock %}

{% block content %}


    {% include 'util/go_back.html' %}

    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h3><a href="{% url 'trucks:detail' truck.id %}">{{ truck.title }}</a>'s Menu</h3>
                <p>
                    {{ truck.description }}
                </p>
            </div>
        </div>
    </div>


    {% if menu %}
        <div class="container">
            <div class="row">
                {% for menu_item in menu %}
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-3">
                            <div class="card-header">{{ menu_item.name }}</div>
                            <img class="card-img-top" src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}"/>

                            <div class="card-body">
                                <p class="font-weight-light">{{ menu_item.description }}<p>
                            </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>Menu unavailable</h3>
    {% endif %}

{% endblock %}