* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .bg-dark text-white py-4 container-fluidr, .page-wrap:after {
    height: 142px; 
    bottom:0;
  }
  .bg-dark text-white py-4 container-fluidr {
    background: orange;
  }