{% extends 'base.html' %}

{% block title %}
    Food Truck Events in Florida | OnTheGrub
{% endblock %}

{% block description %}
    Looking for a Food Truck Event in Florida? OnTheGrub has 'em all... check out all of Florida's upcoming food truck events!
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col py-3">
                <h2>Events near you</h2>
            </div>

        </div>
        <div class="row">
            {% for event in event_list %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="event-card">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <a href="{% url 'events:detail' event.id %}">
                                        {{ event.title }}
                                    </a>
                                </h3>
                            </div>
                            <div class="card-body">
                                <p>{{ event.description }}</p>
                            </div>

                            <div class="card-footer">
                                <span>Start: <strong>{{ event.start_time }}</strong></span>
                                <br/>
                                <span>End: <strong>{{ event.end_time }}</strong></span>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}