{% extends 'base.html' %}

{% block title %}
    Events near you
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col py-3">
                <h2>Grubtrucks News</h2>
                <span>Sorted by most recent</span>
            </div>
        </div>





        <div class="row d-flex flex-md-row-reverse">
            <div class="col-sm-12 col-md pb-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Filter</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Most recent</li>
                            <li>Trending</li>
                            <li>Oldest</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                {% for announcement in announcement_list %}
                    <div class="mb-3">
                        <div class="card">

                            <div class="card-header">
                                <h3 class="card-title">
                                    <a href="{% url 'announcements:detail' announcement.id %}">
                                        {{ announcement.title }}
                                    </a>
                                </h3>
                            </div>
                            <div class="card-body">
                                <p>{{ announcement.description }}</p>
                            </div>

                            <div class="card-footer">
                                <span><strong>{{ announcement.posted_on }}</strong></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}