<div class="col-12 hover-grow"
     onclick="window.location.href='{% url 'dashboard:view-menu-item' truck.id menu_item.id %}'">
    <div class="card mb-3">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h2 class="card-title mr-2">
                    {{ menu_item.name }}
                </h2>
                <span class="badge badge-pill badge-success">${{ item.price|floatformat:2 }}</span>
                {% if menu_item.featured %}
                    <span class="badge badge-pill ml-2 badge-primary">FEATURED</span>
                {% endif %}
            </div>
            <p class="">{{ menu_item.description }}<p>
        </div>
        <img class="card-img" style="object-fit: cover" height="340" src="{{ menu_item.image.url }}"
             alt="{{ menu_item.name }}"/>
        </a>
    </div>
</div>
