{% extends 'base.html' %}

{% block title %}
    Catering near you
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row py-3">
            <div class="col">
                <h2>Catering near you</h2>
            </div>
        </div>
        <div class="row">
            {% for truck in truck_list %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    {% if truck.image.file != None %}
                        <div class="card-attr" style="text-decoration: none; color:white;">
                            <img class="card-img-top" src="{{ truck.image.url }}"
                                 alt="{{ truck.title }} image">
                        </div>
                    {% endif %}

                    <a href="{% url 'trucks:detail' truck.pk %}">
                        <div class="card-header d-flex justify-content-between">
                            <h5>
                                {{ truck.title }}
                            </h5>

                            <div>
                                {% if truck.rating %}
                                    <p>{{ truck.rating }}</p>
                                {% else %}
                                    <p>no rating</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary btn-block" href="{% url 'trucks:detail' truck.id %}">
                            View truck
                        </a>
                        <button class="btn btn-primary btn-block">Book catering</button>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}