{% extends 'base.html' %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h1>OnTheGrub Blog</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    <a class="font-weight-bold" href={{ post.get_url }}>
                        {{ post }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}