<div class="container">
    <div class="row pb-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'trucks:reviews' truck.id %}" class="text-decoration-none">
                        <h3>Reviews</h3>
                    </a>
                    {% if truck.reviews.count > 0 %}
                        <small>{{ truck.reviews.count }} reviews</small>
                    {% endif %}
                </div>
                <div class="list-group p-3">
                    {% if truck.reviews.count > 0 %}
                        {% for review in truck.reviews.all %}
                            {% include 'trucks/widgets/review_card.html' with truck=truck review=review %}
                        {% endfor %}
                    {% else %}
                        <h4>Nobody has reviewed {{ truck.title }} yet... want to <a href="{% url 'trucks:new-review' truck.id %}">be the first</a>?</h4>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'trucks:new-review' truck.id %}" class="btn btn-outline-primary">leave review</a>
                </div>
            </div>
        </div>
    </div>
</div>