<div class="card my-3">
    <div class="card-header">
        <h5>Truck Info</h5>
        <small>Everything about {{ truck.title }}</small>
    </div>
    <ul class="list-group font-weight-light">

        <li class="list-group-item">
            <h6 class="mb-1">Address</h6>
            <a href="https://www.google.com/maps?q={{ truck.address }}">{{ truck.address }}</a>
        </li>

        <li class="list-group-item">
            <h6 class="mb-1">Phone Number</h6>
            <a href="tel:{{ truck.phone }}">{{ truck.phone }}</a>
        </li>

        <li class="list-group-item">
            <h6 class="mb-1">
                Catering
            </h6>
            {% if truck.available_for_catering %}
                Available for catering
            {% else %}
                Not available for catering
            {% endif %}
        </li>

        <li class="list-group-item">
            {% if truck.owner != None %}
                <h6 class="mb-1">Owner</h6>
                <a href="{% url 'users:detail' truck.owner.username %}">{{ truck.owner.first_name }} {{ truck.owner.last_name }}
                    <span class="text-muted">(@{{ truck.owner.username }})</span></a>
            {% else %}
                <h6 class="mb-1">Unclaimed Truck</h6>
            {% endif %}
        </li>
    </ul>
</div>
