{% load static %}

<footer class="bg-primary text-white py-5 container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 pb-sm-2">
                <h5>Grubtrucks</h5>
                <span>Find food trucks near you and stay connected. Grow your food truck business with our community and analytic tools. For food truck lovers and owners.</span>
                <div class=" d-flex align-items-center mr-auto justify-content-start">
                    <div class="">
                        <img src="{% static 'appstore.svg' %}"
                             alt="Download Grubtrucks on the App Store."/>
                    </div>
                    <div class="">
                        <img src="{% static 'google-play-badge.png' %}"
                             width="150"
                             alt="Google Play and the Google Play logo are trademarks of Google LLC."/>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 pb-sm-2">
                <h5>Explore</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'announcements:index' %}">News</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'events:index' %}">Events</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'trucks:index' %}">Trucks</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'catering:index' %}">Catering</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 pb-sm-2">
                <h5>Follow us on social media!</h5>
                <div class="d-flex flex-column justify-content-between">
                    <span>
                    <i class="fab fa-twitter"></i>
                    <a class="text-white" href="https://www.twitter.com/grubtrucksapp">Twitter</a>
                    </span>

                    <span>
                    <i class="fab fa-instagram"></i>
                    <a class="text-white" href="https://www.instagram.com/grubtrucks">Instagram</a>
                    </span>

                    <span>
                    <i class="fab fa-facebook-square"></i>
                    <a class="text-white" href="https://www.facebook.com/grubtrucks">Facebook</a>
                    </span>

                    <span>
                    <i class="far fa-envelope"></i>
                    <a class="text-white" href="mailto:contact@grubtrucks.app">contact@grubtrucks.app</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="upper text-white-50">© 2020 Grubtrucks LLC - All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>
