<footer class="bg-primary text-white py-5 container-fluid">
    <div class="container">


        <div class="row">
            <div class="col-3">
                <h5>Grubtrucks</h5>
                <span>Find food trucks near you and stay connected. Grow your food truck business with our community and analytic tools. For food truck lovers and owners.</span>
            </div>
            <div class="col-3">
                <h5>Explore</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'announcements:index' %}">News</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'events:index' %}">Events</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'trucks:index' %}">Trucks</a>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'catering:index' %}">Catering</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Follow us on social media!</h5>
                <div class="d-flex flex-column justify-content-between">
                    <a class="text-white" href="https://www.twitter.com/grubtrucksapp">Twitter</a>
                    <a class="text-white" href="https://www.instagram.com/grubtrucks">Instagram</a>
                    <a class="text-white" href="https://www.facebook.com/grubtrucks">Facebook</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="upper text-white-50">© 2020 Grubtrucks LLC - All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>
