{% load static %}

<style type="text/css">
    .land-bg {
        background-image: url("/static/landbg/paula-vermeulen-URjZkhqsuBk-unsplash.jpg");
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
    }
</style>


<div class="container-fluid land-bg">
    <div class="row">
        <div class="mx-auto col-sm-12 col-md-10 col-lg-7" style="max-width: 540px">
            <div class="card p-3 my-5 shadow">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3 class="card-title">Welcome to Grubtrucks</h3>
                    </div>
                    <img src="{% static 'grubtruck.png' %}" alt="Grubtruck" width="57" height="45">
                </div>

                <p>Love food trucks?</p>
                <p>Register for the Grubtrucks beta!</p>
                <p>Sign up for our mailing list and we'll send you an email when it becomes available.</p>

                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://app.us10.list-manage.com/subscribe/post?u=e58c67d1354181441438c0872&amp;id=3190cade13"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
{#                            <h4>Early access registration</h4>#}
                            <div class="mc-field-group pb-2">
                                <input type="email" value="" class="input-lg form-control" placeholder="Enter your email address" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                      name="b_e58c67d1354181441438c0872_3190cade13"
                                                                                                      tabindex="-1"
                                                                                                      value=""></div>
                                <input type="submit" value="Subscribe" name="subscribe"
                                                      id="mc-embedded-subscribe" class="btn btn-secondary btn-block">
                        </div>
                    </form>
                </div>
                <script type='text/javascript'
                        src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                    fnames[5] = 'BIRTHDAY';
                    ftypes[5] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->

                {#                <form action="https://app.us10.list-manage.com/subscribe/post?u=e58c67d1354181441438c0872&amp;id=3190cade13" method="POST">#}
                {#                    <div class="form-group">#}
                {#                        <input type="email" class="form-control" id="mce-EMAIL"#}
                {#                               aria-describedby="emailHelp"#}
                {#                               placeholder="Enter your email">#}
                {#                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
                {#                        else.</small>#}
                {#                    </div>#}
                {#                    <button type="submit" class="btn btn-primary btn-block">Sign me up</button>#}
                {#                </form>#}
            </div>
        </div>
    </div>
</div>
