{% extends 'base.html' %}

{% block title %}
    Viewing {{ user.username }}'s profile
{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'users:detail' user.username %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row no-gutters mt-3">
            <div class="col-12 col-md-5">
                {% include 'users/widgets/profile_overview.html' with user=user %}
            </div>
        </div>
    </div>

    <hr>

    {% block profile %}
    {% endblock %}
{% endblock %}

