{% extends 'users/profile_base.html' %}

{% block profile %}
    {#    {% include 'util/go_back.html' %}#}
    <div class="container ">
        <div class="row mb-2">
            <h1 class=""><span class="text-muted">@{{ user.username|capfirst }}'s</span> Reviews</h1>
        </div>

        <div class="row">
            {% for review in reviews %}
                {% include 'trucks/widgets/review_card.html' with reviews=reviews truck=review.truck %}
            {% endfor %}
        </div>
    </div>
{% endblock %}