{% extends 'users/profile_base.html' %}

{% block title %}
    Viewing {{ user.username }}'s profile
{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'users:detail' user.username %}">
{% endblock %}

{% block profile %}
    {% if user.is_truck_owner %}
        <div class="container">
            <hr/>
            <div class="row justify-content-between no-gutters">
                <div class="col">
                    <h3>{{ user.first_name|capfirst }}'s trucks</h3>
                </div>
                <div class="">
                    <a href="{% url 'users:user-trucks' user.username %}" class="btn btn-outline-info">VIEW ALL</a>
                </div>
            </div>
            <div class="row my-3">
                {% for truck in user.trucks.all %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        {% include 'trucks/widgets/truck_card.html' with truck=truck %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Not a truck owner</h3>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

