{% extends 'dashboard_base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                {% include 'util/go_back.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="m-0">{{ truck.title }}</h3>
                        <div class="rounded-pill">
                            <p>{{ truck.rating }}/5.0</p>
                        </div>
                    </div>

                    <hr/>


                    <div class="d-flex flex-row justify-content-around mb-3">
                        <div class="text-center icon-warning d-flex flex-column">
                            <div class="icon-med">
                                <i class="nc-icon nc-vector text-danger"></i>
                            </div>
                            <small class="font-weight-bold">{{ truck_views }}</small>
                            <small>VIEWS</small>
                        </div>

                        <div class="text-center icon-warning d-flex flex-column">
                            <div class="icon-med">
                                <i class="nc-icon nc-money-coins text-success"></i>
                            </div>
                            <small class="font-weight-bold">{{ catering.count }}</small>
                            <small>CATERS</small>
                        </div>
                    </div>
                    <hr>


                    <div class="card-body">
                        <p>{{ truck.description }}</p>
                    </div>

                    <div class="card-footer">
                        <div class="btn-group w-100">
                            <a href="{% url 'dashboard:edit' truck.id %}" class="btn btn-dark">EDIT TRUCK</a>
                            <a href="{% url 'dashboard:catering-index' %}" class="btn btn-dark">CATER REQUESTS</a>
                            <a href="{% url 'dashboard:view-menu' truck.id %}" class="btn btn-primary">VIEW MENU</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}