{% extends 'dashboard_base.html' %}

{% block title %}
    Catering Dashboard
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="">Your Trucks (<span class="text-muted">{{ my_trucks.count }}</span>)</h3>
            </div>
        </div>
        {% if request.GET.query %}
            <div class="row">
                <div class="col">
                    <h5>Showing search results for <code>{{ request.GET.query }}</code></h5>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            {% for truck in my_trucks %}
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {% include 'trucks/truck_card.html' with truck=truck dashboard=True %}
                </div>
            {% endfor %}
        </div>
        {% if my_trucks.count < 1 %}
            <div class="alert alert-primary d-flex justify-content-between align-items-center" role="alert">
                <strong>
                    No trucks found
                </strong>
                <a href="{% url 'dashboard:truck-list' %}" class="btn btn-info">Clear Search</a>
            </div>
        {% endif %}
    </div>
{% endblock %}