<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <script>
        document.createElement('li')
        var changeEmail = document.createElement('a')
        changeEmail.id = "changeEmail"
        changeEmail.href = "{% url 'account_email' %}"
        changeEmail.innerText = "Change-Email"
        document.createElement('li')
        var signOut = document.createElement('a') 
        signOut.id = "signOut"
        signOut.href = "{% url 'account_logout' %}"
        signOut.innerText = "Sign Out"
        </script>
        {% else %}
        <script>
        document.createElement('li')
        var signOut = document.createElement('a')
        signOut.id = "signIn"
        sigOut.href = "{% url 'account_login' %}"
        signOut.innerText = "Sign in"
        document.createElement('li')
        var signUp = document.createElement('a')
        signUp.id = "signUp"
        sigUp.href = "{% url 'account_signup' %}"
        signUp.innerText = "Sign up"
        </script>
        {% endif %}
      </ul>

    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
