{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Request Catering | OnTheGrub
{% endblock %}
{% block description %}
    Request food truck catering for your event OnTheGrub, Florida's #1 food truck finder.
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Cater Request Form</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}