{% extends 'base.html' %}

{% block title %}
    Events near you
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col py-3">
                <h2>Catering near you</h2>
            </div>

        </div>
        <div class="row">
            {% for cater in caterrequest_list %}
                <div class="col-sm-12 col-md-6 col-lg-4 m-2 p-3 card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a href="{% url 'events:detail' cater.id %}">
                                {{ cater.title }}
                            </a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>{{ cater.description }}</p>
                    </div>

                    <div class="card-footer">
                        <span><strong>{{ cater.when }}</strong></span>
                        <span>for <strong>{{ cater.duration }} hours</strong></span>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}