{% extends 'base.html' %}
{% load static %}

{% block title %}OnTheGrub | Florida's #1 Food Truck Finder{% endblock %}
{% block description %}Find food trucks, events, catering, and more OnTheGrub, Florida's #1 food truck
    finder.{% endblock %}

{% block head %}
    <link rel="canonical" href="{% url 'index' %}">
{% endblock %}

{% block content %}

    {#    {% include 'welcome.html' %}#}
    <div class="container-fluid bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    {% if not request.user.is_authenticated %}
                        {% include 'users/widgets/register_or_login.html' %}
                    {% else %}
                        {% include 'users/widgets/profile_overview.html' with user=request.user %}
                    {% endif %}
                </div>

                <div class="col-sm-12 col-md-6 col-lg-7 mt-3 mt-md-0">
                    <div class="row no-gutters">
                        {% for post in posts %}
                            {% include 'blog/widgets/blog_card.html' with post=post %}
                        {% endfor %}
                    </div>
                    <div class="row justify-content-end w-100">
                        <div class="col">
                            <a href="/blog/" class="btn btn-primary">VIEW ALL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark py-3">
        <div class="container text-white">
            <div class="row py-2">
                <div class="col">
                    <h2>Trending Grub</h2>
                </div>
            </div>

            {% if trucks != None %}
                <div class="row">
                    {% for truck in trucks|slice:":3" %}
                        <div class="col-md-4 col-sm-6 py-2">
                            {% include 'trucks/widgets/truck_card.html' with truck=truck %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col ml-auto">
                        <a href="{% url 'trucks:index' %}">
                            <button class="btn btn-primary">
                                View all trucks
                            </button>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col">
                        <h3>No trucks available</h3>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>



    <div class="container-fluid bg-secondary row p-0 m-0">
        {#        <div class="container text-black">#}
        {#            <div class="row py-2">#}
        {#                <div class="col">#}
        {#                    <h2>Trending on OnTheGrub</h2>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <iframe id="map"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDKbNYPfSNFspfOpY762AeXkZtfGYPxBjo&q=Florida"
                width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="container py-3">
        <div class="row">
            <div class="col" style="max-width: 560px;">
                <h2>What is OnTheGrub?</h2>
                <p>
                    Find food trucks near you and stay connected. Grow your food truck business with our community and
                    analytic tools. For food truck lovers and owners.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4>Owners</h4>
                <p class="lead m-0 p-0 pb-2">
                    Grow your food truck business with our community and
                    analytic tools.
                </p>
                <ul>
                    <li>Traffic analytics</li>
                    <li>Send notifications to your fans</li>
                    <li>Manage your menu & identify trends (underperforming items, best sellers, etc.)</li>
                    <li>Go Live - notify all your followers when you open up</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6">
                <h4>Foodies</h4>
                <p class="lead m-0 p-0 pb-2">
                    Find food trucks near you and stay connected.
                </p>
                <ul>
                    <li>Find food trucks near you</li>
                    <li>Follow your favorite trucks and be notified when they go live</li>
                    <li>Leave feedback, interact with truck owners, and share your Grub history</li>
                    <li>Verified food trucks are guaranteed to be open-for-business at their stated location &ndash;
                        never waste your time visiting a closed food truck again
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}